<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Currency Converter by ppawel</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"></link>
<style type="text/css">
body {
	background-color: #DADADA;
}

body>.grid {
	height: 100%;
}

.column {
	max-width: 1024px;
}
</style>
</head>
<body>
	<div class="ui centered grid">
		<div class="center aligned column">
			<h2 class="ui image header">
				<div class="content">Check exchange rate</div>
			</h2>

			<form class="ui equal width form" action="" method="GET">
				<div class="fields">
					<div class="field">
						<label>Base currency</label> <select th:value="${param.base[0]}"
							name="base">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
						</select>
					</div>
					<div class="field">
						<label>Target currency</label> <select th:value="${param.target[0]}"
							name="target">
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
							<option value="USD">USD</option>
						</select>
					</div>
					<div class="field">
						<label>Date (if empty, get latest rate)</label> <input type="text"
							th:value="*{date}" placeholder="YYYY-MM-DD" name="date" />
					</div>
				</div>
				<div class="field">
					<input type="submit" class="ui large fluid primary button"
						value="Check" />
				</div>
			</form>

			<div th:if="*{rate}" class="ui message">
				Exchange rate <span th:text="${param.base[0]}"></span>/<span
					th:text="${param.target[0]}"></span>: <span th:text="*{rate}"></span>
			</div>

			<h2 class="ui image header">
				<div class="content">Past queries</div>
			</h2>

			<table class="ui table">
				<thead>
					<th>Base</th>
					<th>Target</th>
					<th>Rate</th>
					<th>Date</th>
				</thead>
				<tbody>
					<tr th:each="row,rowStat : ${queries}">
						<td th:text="${row.baseCurrency}"></td>
						<td th:text="${row.targetCurrency}"></td>
						<td th:text="${row.rate}"></td>
						<td th:text="${#dates.formatISO(row.date)}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>