<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Currency Converter by ppawel</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"></link>
<style type="text/css">
body {
	background-color: #DADADA;
}

.column {
	max-width: 1024px;
}
</style>
</head>
<body>
	<div class="ui middle aligned relaxed centered grid">
		<div class="center aligned column">
			<h2 class="ui image header">
				<div class="content">Convert</div>
			</h2>

			<form class="ui equal width form" th:action="@{/convert}"
				method="POST" th:object="${convertData}">
				<div class="fields">
					<div class="field">
						<label>Base currency</label> <select th:field="*{baseCurrency}"
							name="baseCurrency">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
						</select>
					</div>
					<div class="field">
						<label>Target currency</label> <select
							th:field="*{targetCurrency}" name="targetCurrency">
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
							<option value="USD">USD</option>
						</select>
					</div>
					<div class="field"
						th:classappend="${#fields.hasErrors('amount')}?'error'">
						<label>Amount</label> <input type="number" th:field="*{amount}"
							name="amount" />
					</div>
				</div>
				<div class="field">
					<input type="submit" class="ui large fluid primary button"
						value="Convert" />
				</div>
			</form>

			<div th:if="*{convertedAmount}" class="ui message">
				<span th:text="*{convertData.amount}"></span> <span
					th:text="*{convertData.baseCurrency}"></span> = <span
					th:text="*{convertedAmount}"></span> <span
					th:text="*{convertData.targetCurrency}"></span>
			</div>

			<div th:if="*{conversionFailed}" class="ui error message">
				Conversion failed - exchange rate not available!</div>

			<h2 class="ui image header">
				<div class="content">Check exchange rate</div>
			</h2>

			<form class="ui equal width form" th:action="@{/check}" method="POST"
				th:object="${checkData}">
				<div class="fields">
					<div class="field">
						<label>Base currency</label> <select th:field="*{baseCurrency}"
							name="baseCurrency">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
						</select>
					</div>
					<div class="field">
						<label>Target currency</label> <select
							th:field="*{targetCurrency}" name="targetCurrency">
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
							<option value="USD">USD</option>
						</select>
					</div>
					<div class="field"
						th:classappend="${#fields.hasErrors('date')}?'error'">
						<label>Date (if empty, get latest rate)</label> <input type="text"
							th:field="*{date}" placeholder="YYYY-MM-DD" name="date" />
					</div>
				</div>
				<div class="field">
					<input type="submit" class="ui large fluid primary button"
						value="Check" />
				</div>
			</form>

			<div th:if="*{rate}" class="ui message">
				Exchange rate <span th:text="*{checkData.baseCurrency}"></span>/<span
					th:text="*{checkData.targetCurrency}"></span>: <span
					th:text="*{rate}"></span>
			</div>

			<div th:if="*{checkFailed}" class="ui error message">Check
				failed - exchange rate not available!</div>

			<h2 class="ui image header">
				<div class="content">Past queries</div>
			</h2>

			<table class="ui table">
				<thead>
					<th>Executed</th>
					<th>Base</th>
					<th>Target</th>
					<th>Rate</th>
					<th>Date of exchange rate</th>
				</thead>
				<tbody>
					<tr th:each="row,rowStat : ${queries}">
						<td th:text="${#dates.format(row.executionDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${row.baseCurrency}"></td>
						<td th:text="${row.targetCurrency}"></td>
						<td th:text="${row.rate}"></td>
						<td
							th:text="${row.date} ? ${#dates.format(row.date, 'yyyy-MM-dd')}"></td>
					</tr>
				</tbody>
			</table>

			<div>
				<a href="logout">log out</a>
			</div>
		</div>
	</div>
</body>
</html>